@use "../abstracts" as *;

.form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    width: 100%;

    @include desktop_s {
        align-items: start;
    }

    &__input {
        border: 1px solid $blue;
        border-radius: 1rem;
        background-color: #FFEEF6;
        outline: none;
        height: 7rem;
        width: 100%;
        padding: 1rem 2rem;
        @include regular;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    &__message {
        height: 15.6rem
    }

    &__label {
        @include regular;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
}