@mixin regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
  
@mixin bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
  
@mixin black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}
  