@use "../abstracts" as *;

.footer {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 10rem;
    align-items: center;
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 12rem;
        align-items: center;
        width: 100%;
        

        @include desktop_s {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            padding: 0 3.2rem;
            gap: 0;
        }

        @include desktop_l {
            max-width: 162rem;
            margin: auto;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        align-items: center;

        @include desktop_s {
            align-items: start;
        }
    }

    &__logo {
        display: flex;
        gap: 0.6rem;
        align-items: center;

        @include tablet {
            gap: 1rem;
        }
    }

    &__icons {
        display: flex;
        gap: 2.4rem;
        align-items: center;
    }

    &__adress {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        align-items: center;
        text-align: center;

        @include desktop_s {
            align-items: start;
            text-align: left;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        align-items: center;

        @include desktop_s {
            align-items: start;
        }
    }

    &__foot {
        background-color: $blue;
        padding: 3.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__inner {
        display: flex;
        gap: 6rem;
    }

    &__image {
        position: absolute;
        max-height: 51rem;
        width: auto;

        &_left {
            top: 0;

            @include desktop_s {
                left: 0;
                bottom: 10rem;
            }
        }

        &_right {
            bottom: 14rem;
            transform: scaleX(-1);

            @include desktop_s {
                top: 0;
                right: 0;
                bottom: 10rem;
            }
        }
    }
    
}
